<html>
  <head>
    <meta charset="utf-8"/>
    <title>
      Konteó dolgok
    </title>
  </head>
  <body>
    <style>
      body {
        background-color: yellow;
      }
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .retardation {
        max-width: 70%;
      }
      * {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
        letter-spacing: 1px;
        font-size: larger;
        text-align: justify;
      }
    </style>
    <div class="wrapper">
      <div class="retardation">
        <div class="retardsays">
          <p>{{retard['truth']}}</p>
        </div>
      </div>
    </div>
  </body>
</html>